name: CI-Build

on:
  push:
  pull_request:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  name: Set up Java 25
  uses: actions/setup-java@v4
  with:
    java-version: '25'
    distribution: 'temurin'
  build:
    uses: axonivy-market/github-workflows/.github/workflows/ci.yml@v6
