name: CI-Build

on:
  push:
  pull_request:
  schedule:
    - cron: '21 21 * * *'
  workflow_dispatch:

permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Java 25
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Build
        env:
          IVY_JAVA_HOME: ${{ env.JAVA_HOME }}
        run: |
          export IVY_JAVA_HOME=$JAVA_HOME